[alias]
    st = status
    ss = status -sb

    addi = add --patch
    unstage = reset HEAD --
    ls = ls-files

    du = diff
    ds = diff --staged
    dsw = diff --staged -w
    duw = diff -w
    wds = diff --staged --color-words
    wdu = diff --color-words

    ci = commit
    cm = commit
    amend = commit --amend

    graph = log --graph
    hist = log --first-parent
    peeps = !git log --pretty=format:%aN | sort | uniq -c | sort -rn

    rso = remote show origin
    co = checkout
    br = branch
    br-current = rev-parse --abbrev-ref HEAD
    puff = pull --ff
    upd = pull --ff
    poc = !git push origin `git br-current`


[branch "master"]
    mergeoptions = --no-ff --no-commit


[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto


[core]
    autocrlf = input
    editor = mcedit
    safecrlf = true


[format]
    pretty = format:'%C(green)%h%Creset %C(cyan)%ad%x08%x08%x08%x08%x08%x08%Creset -%C(yellow)%d%Creset %s %C(green)[%Creset%C(cyan)%an%Creset%C(green)]%Creset'


[grep]
    linenumber = true


[log]
    date = iso


[merge]
    ff = no
