[alias]
    datetime = !date +'%Y-%m-%d %H:%M:%S' && :

    s = status -sb
    st = status

    addi = add --patch
    unstage = reset HEAD --
    ls = ls-files

    ds = diff --staged
    du = diff
    dsw = diff --staged -w
    duw = diff -w
    wds = diff --staged --color-words
    wdu = diff --color-words

    ci = commit
    cm = commit
    amend = commit --amend

    graph = log --graph
    hist = log --first-parent
    last = log -1 --stat
    harchive = "!git for-each-ref --format='%(subject) : %(refname:short)' refs/tags | grep 'archive/' | sort -V | awk {'printf \"%-32s - %s\\n\",$1,$2'} FS=\\: | sed s#deploy/##g" && :
    hdeploy = "!git for-each-ref --format='%(subject) : %(refname:short)' refs/tags | grep 'deploy/' | sort -V | awk {'printf \"%-32s - %s\\n\",$1,$2'} FS=\\: | sed s#deploy/##g" && :
    hkaboom = "!git for-each-ref --format='%(subject) : %(refname:short)' refs/tags | grep 'kaboom/' | sort -V | awk {'printf \"%-32s - %s\\n\",$1,$2'} FS=\\: | sed s#kaboom/##g" && :
    contributors = shortlog -s -n --no-merges

    search = branch -a --contains
    rso = remote show origin
    co = checkout
    br = branch
    br-current = rev-parse --abbrev-ref HEAD
    puff = pull --ff
    poc = !git push origin `git br-current`
    puc = !git push upstream `git br-current`
    # prune remote branches/tags from all remotes, fetch branches/tags and override local tags with corresponding versions on remote
    update = fetch --all --prune --tags
    tags = tag -n
    type = cat-file -t
    dump = cat-file -p
    clear = !          \
        git update  && \
        git gc      && :


[branch "master"]
    mergeoptions = --no-ff --no-commit


[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto


[core]
    autocrlf = input
    safecrlf = true


[format]
    pretty = format:'%C(green)%h%Creset %C(cyan)%ad%x08%x08%x08%x08%x08%x08%Creset -%C(yellow)%d%Creset %s %C(green)[%Creset%C(cyan)%an%Creset%C(green)]%Creset'


[grep]
    linenumber = true


[log]
    date = iso


